:root{
    --bg:rgb(34, 34, 34);
    --bg2:rgb(58, 58, 58);
    
    --txt:#e7e6e6;
    --txt2:rgb(222, 222, 222);

    --hue:337;

    --col:hsl(var(--hue), 100%, 50%);
    --col2:hsla(var(--hue), 100%, 50%,30%);
}



/*nav*/

nav{
    background-color: var(--bg);
}

nav>a{
    color:var(--txt);
}

/*General*/

body{
    background-color: var(--bg);
    color:var(--txt);
}

/*sections */

/*s2*/
#sec2::before{
    background-color: var(--txt2);
}
#sec2{
    color: var(--bg);
}


#sec2>p{
    color: var(--bg2);   
}

/*sec4*/


