

#sec2::before{
    z-index: -1;
    content: '';
    position: absolute;
    width:100vw;
    height: 100vh;
    margin-left: -5rem;
    background-color: aliceblue;
    transform: skew(0,6deg);
}