nav{
    position: fixed;
    width: 100vw;
    max-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

nav>a{
    text-decoration: none;
    padding: 1rem;
    margin-left: 1rem;
    font-weight: 600;
    max-height: 3rem;
}

nav>a:hover{
    
}


.cont{
    width:100vw;
    min-height: 100vh;
    padding:6rem;
    padding-top: 3rem;
}


#sec1,#sec2{
    display: flex;
    flex-direction: column;
    padding:1rem;
    justify-content: center;
    align-items: left;
    overflow: hidden;
    padding:5rem
}

#sec3{
    padding: 10rem;
}

.prj{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0rem;
    width: 70vw;
    margin: auto;
}

.prj>img{
    width: 100%;
}



#sec4{
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
}


.prj>div{
    display: flex;
    flex-direction: column;
}
