.text{
    font-size: 2rem;
}

.paper{
    box-shadow: -2px -1px 10px -2px rgba(0,0,0,0.75) inset;
    padding: 3rem;
    border-radius: 0.3rem;
}


.circle{
    position: absolute;
    background-color: var(--col); 
    animation-name: circle;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

:root{
    --c1s:30rem;
    --c2s:30rem;
    --c3s:20rem;
}

.c1{
    width: var(--c1s);
    height: var(--c1s);
    border-radius: var(--c1s);
    top:70vh;
    left:70vw;
    animation-delay: 3s;
}

.c2{
    width: var(--c2s);
    height:var(--c2s);
    border-radius: var(--c2s);
    top:70vh;
    left:60vw;
    animation-delay: 1s;
}

.c3{
    width: var(--c3s);
    height: var(--c3s);
    border-radius: var(--c3s);
    top:80vh;
    left:50vw;
    animation-delay: 5s;
}

.c4{
    width: var(--c2s);
    height:var(--c2s);
    border-radius: var(--c2s);
    top:75vh;
    left:20vw;
    animation-delay: 9s;
}

.c5{
    width: var(--c3s);
    height: var(--c3s);
    border-radius: var(--c3s);
    top:84vh;
    left:10vw;
    animation-delay: 4s;
}

.c6{
    width: var(--c2s);
    height: var(--c2s);
    border-radius: var(--c1s);
    top:96vh;
    left:-20vw;
    animation-delay: 3s;
}

.c7{
    width: var(--c2s);
    height:var(--c2s);
    border-radius: var(--c2s);
    top:75vh;
    left:0;
    animation-delay:    6s;
}

@keyframes circle {
    0%   {transform: translateY(0%);}
    20%  {transform: translateY(-5%);}
    40%  {transform: translateY(-1%);}
    80%  {transform: translateY(10%);}
    100% {transform: translateY(0%);}
  }


  @media only screen and (max-width: 600px) {
    .text{
        font-size: 1rem;
    }

    :root{
        --c1s:25rem;
        --c2s:20rem;
        --c3s:15rem;
    }
}


body{
    overflow: hidden;
}